<!DOCTYPE html>
<html lang="zh-hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>我的餐廳清單</title>
  <link rel="shortcut icon"
    href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
    type="image/x-icon">

  {{!-- Bootstrap 4.6.0 CSS --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  {{!-- Font Awesome 5.15.4 --}}
  <link rel="stylesheet" href="/stylesheets/fa.all.css">

  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="{{alt}}">
          我的餐廳清單
        </a>
        <a href="./restaurants/new">
          <button class="btn btn-info">
            <i class="fas fa-plus-circle mr-2"></i>新增餐廳
            </button>
        </a>
      </div>
    </nav>

    <div class="banner"></div>
  </header>

  {{{body}}}

  {{!-- Bootstrap 4.6.0 use JQuery、Popper --}}
  <script src="javascripts/jquery-3.6.0.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>